body {background-color: aquamarine; text-align: center;}
h1 {font-size: 48px;
  font-family: sans-serif;
}

a {font-size: 36px}
  
  img {max-width: 60%;
       height: auto;}

       @media screen and (max-width: 1000px) {
	
        body
          {
          background-color: rgb(215, 139, 199);
          }
          
        }
        
        
        @media only screen and (max-width : 480px) {
          
        body
          {
          background-color: rgb(93, 199, 241);
          
          }
            
        }
        
        
        @media only screen and (max-width : 320px) {
          
        body
          {
          background-color: rgb(183, 57, 57);
          }
        
        }
